<h2 class="page-header">Dashboard</h2>

<div class="row">
    <!-- LOCAL INFORMATION -->
    <div class="col-sm-6">
        <div class="well">
            <h3><span class="fa fa-user"></span> Hello {{ user.name }} </h3>
            <form method="post" action="/">
                <div class="form-group">
                    <input type="hidden" name="_id" value={{user._id}}>
                    <input type="hidden" name="username" value={{user.username}}>

                    <!--TODO make placeholder current data-->
                    <!--TODO place input on the same line as the label-->


                    <label>To Do List</label>
                    <input type="text" class="form-control" placeholder="Eat In n Out" name="new_todolist">
                    <input type="hidden" name="location" value={{user.todolist}}>

                    <label>Stocks</label>
                    <input type="text" class="form-control" placeholder="APL" name="new_stocks">
                    <input type="hidden" name="location" value={{user.stocks}}>

                    <br><br>
                    <label>Location</label>
                    <input type="text" class="form-control" placeholder={{user.map}} name="new_maps.origin.city_address">
                    <input type="hidden" name="location" value={{user.maps.origin.city_address}}>

                    <label>Name</label>
                    <input type="text" class="form-control" placeholder={{user.name}} name="new_name">
                    <input type="hidden" name="name" value={{user.name}}>

                    <label>Color</label>
                    <select name="color">
                        <option value="blue">Blue</option>
                        <option value="red">Red</option>
                    </select>
                    <input type="hidden" name="color" value={{user.color}}>

                    <label>Font Size</label>
                    <select name="fontSize">
                        <option value="large">Large</option>
                        <option value="medium">Medium</option>
                        <option value="small">Small</option>
                    </select>
                    <input type="hidden" name="fontSize" value={{user.fontSize}}>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>